.login-container {
    background-image:url(https://www.esan.edu.pe/apuntes-empresariales/2019/10/02/1200x630_machine_learning.jpg);
    background-repeat: no-repeat;    
    background-size:100%;

}

.login-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-right: 60%;
}

.boton-ingresar {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    box-sizing: border-box;
    margin-bottom: 100%;
    background-color:darkblue;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
