.label-inicio {
    color: antiquewhite;
    text-align: left !important;
    margin-bottom: 10px;
}

.label-error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    outline: auto;
    background: antiquewhite;
    padding: 0 5px;
}

.label-alerta {
    color: red;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: antiquewhite;
    padding: 0 5px;
    border-radius: 25px;
}